@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground text-base;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            @apply bg-foreground/10;
        }
    }
}

@layer utilities {
    .container {
        margin-inline: auto;
        @apply px-[1rem] 2xl:px-[4rem];
    }
}

.step {
    counter-increment: step;
}

.step:before {
    @apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
    @apply mt-[-4px] ml-[-50px];
    content: counter(step);
}

.shiki {
    @apply !overflow-auto !px-0;

    .line {
        @apply px-3;

        &.highlighted {
            background: rgba(90, 95, 100, 0.3);
            display: inline-block;
            width: 100%;
        }

        &.diff.add {
            background: rgba(78, 251, 21, 0.15);
            display: inline-block;
            width: 100%;
            &:before {
                content: "+";
                color: rgba(55, 241, 13);
            }
        }
    }
}
