.shape-morph {
    animation: morph-frames 10s linear infinite;
}

@keyframes morph-frames {
    0% {
        border-radius: 0;
    }
    20% {
        transform: rotate(1deg);
    }
    40% {
        transform: rotate(1deg) skew(1deg);
    }
    60% {
        border-radius: 16px;
        transform: scale(1.03);
    }
    80% {
        transform: rotate(-1deg);
    }
    100% {
        transform: none;
        border-radius: 0;
    }
}
